# Default gitconfig

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[alias]
        co = checkout
        dt = difftool
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
	editor = default-vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
	path = default-vim
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
	default = current
[diff]
        tool = customvim
[difftool "customvim"]
        cmd = "default-vim -R -f -d \"$LOCAL\" \"$REMOTE\""

